# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyDMOztlA8h5R17ov03EPuU-618-NyIthR0
REACT_APP_FIREBASE_AUTH_DOMAIN=hub-intregration--azure--glpi.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=hub-intregration--azure--glpi
REACT_APP_FIREBASE_STORAGE_BUCKET=hub-intregration--azure--glpi.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=369235034760
REACT_APP_FIREBASE_APP_ID=1:369235034760:web:aa18326c3fb2ebbdfcd53d

# App Secret (crie uma string aleatória segura)
APP_SECRET=G-5DGWVB06DW
# URL da aplicação (preenchido automaticamente no Netlify)
REACT_APP_URL=https://sua-app.netlify.app